# Created by https://www.gitignore.io/api/node,macos,windows,visualstudio
# Edit at https://www.gitignore.io/?templates=node,macos,windows,visualstudio
## tasks

**/package-lock.json
node_modules
# Directories potentially created on remote AFP share
.dist

### Node ###
# Logs
logs
*.log